body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.6;
    color: #333;
    max-width: 2700px;
    margin: 40px auto;
    padding: 0 20px;
    background-color: #fff;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1a1a1a;
        color: #f5f5f5;
    }

    a {
        color: #8ab4f8;
    }

    #nav-links a {
        color: #f5f5f5;
    }
    #links li a{
        color: #bbb;
    }
}

@media (prefers-color-scheme: light) {
	#nav-links a {
			color: #333;
	}
	#links li a{
		color: #777;
	}
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

#nav-links {
    display: flex;
    gap: 1rem;
}

#nav-links a,
#links li a {
    transition: color 200ms ease;
}

#nav-links a:hover,
#links li a:hover{
    color: #007bff;
    text-decoration: none;
}

#nav-links #nav-current {
	color: #007bff;
}

h1, h2 {
    font-weight: 600;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
    padding: 0;
}

#blog ul li {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 10px;
}

#links li{
    display: inline-block;
		margin-right: 10px;
}

.location {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    margin-bottom: 10px;
}

.photo-grid img {
    width: 100%;
		max-height: 100px;
		object-fit: cover;
    border-radius: 5px;
}

.photos-view {
		margin-top: 50px;
    display: flex;
		justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
}

.photos-view picture img {
	max-width: 100%;
	max-height: 80vh;
	object-fit: cover;
	display: block;
}

/*
.photo-description {
	max-width: 640px;
  margin: 50px auto 0;
  padding: 0 25px 25px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media only screen and (max-width: 768px) {
  .photo-description {
		display: flex;
  }
}
*/


#projects li a {
	font-size: 1.1em;
}

.role {
    font-size: 0.9em;
    color: #666;
    margin-top: 5px;
    margin-bottom: 2px;
}

.description {
    font-size: 0.9em;
    color: #555;
    margin-bottom: 10px;
}

.proj-labels {
    font-size: 0.9em;
    color: #666;
    margin-top: 20px;
    margin-bottom: 10px;
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.technologies span {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 0.875rem;
  color: #555;
	background-color: rgba(0, 123, 255, 0.3);
	border-radius: 0.25rem;
  display: inline-block;
}

.date {
    font-size: 0.9em;
    color: #777;
    margin-left: 10px;
}

.location {
    color: #777;
}


#projects ul li {
    margin-bottom: 30px;
}

.proj-container {
	border: 1px solid #1f2937;
  padding: 1.5rem;
  transition: border-color 0.3s ease-in-out;
}

.proj-container:hover {
	border-color: rgba(0, 123, 255, 0.9);
}


@media (prefers-color-scheme: dark) {
    .role,
    .location,
		.proj-labels,
    .date {
        color: #bbb;
    }
		.description {
			color: #f5f5f5;
		}
		.technologies span {
			background-color: rgba(31, 41, 55, 0.5);   
			color: #d1d5db;
		}
}

